@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Reset and base styles */
* {
  cursor: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Navbar styles */

.navbar-collapse {
  justify-content: flex-end; /* Align right items to the end */
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Offcanvas menu styles */

/* Offcanvas menu styles */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #e9cd9f;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1;
}

.sidebar.show {
  right: 0;
}

.sidebar input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Navbar toggler button */
.navbar-toggler {
  margin-right: auto; /* Pushes the button to the left */
}

.right-icons a,
.right-icons button {
  display: inline-block;
}

.navbar .my-nav img {
  width: 10%;
  height: auto;
}

@media (max-width: 992px) {
  .navbar .my-nav img {
    height: auto;
  }
}

@media (max-width: 245px) {
  * {
    overflow-x: hidden !important;
  }

  .navbar-contact {
    font-size: 15px !important;
  }
  .navbar {
    margin: 0;
    padding: 0;
  }
  .my-menu {
    margin-left: 0px !important;
    padding: 5px !important;
  }
  .right-icons a,
  .right-icons button {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;
  }
  .right-icons button {
    padding: 3px !important;
  }
  .navbar .my-nav .logo {
    margin-right: 90px;
    border: 2px solid;
    width: 35% !important;
    height: auto;
  }
  .right-icons {
    display: none !important;
  }
  .right-icons-mobile {
    display: flex !important;
  }
}

@media (min-width: 403px) {
  .right-icons {
    display: flex !important;
  }
  .right-icons-mobile {
    display: none !important;
  }
  .right-side-title {
    font-size: 10px !important;
  }
}
/* media query end*/
.nav-item .nav-link {
  color: rgb(0, 0, 0);
  transition: 0.5s ease;
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link {
  padding: 25px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 1024px) and (max-width: 1190px) {
  .navbar-nav .nav-item .nav-link {
    margin: auto;
    padding: 4px !important;
    font-size: 14px;
    font-weight: 500;
  }
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}

.dropdown-menu {
  background-color: #dc9c2a;
}

.dropdown-menu li a {
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  margin: auto;
}

.right-icons a {
  /* font-size: large; */
  color: #dc9c2a;
  transition: 0.5s ease;
}

.right-icons a i {
  font-size: 5px;
  color: #dc9c2a;
  transition: 0.5s ease;
}

.right-icons button {
  font-size: large;
  color: white;
  background-color: #dc9c2a;
  transition: 0.5s ease;
}

.right-icons a:hover {
  color: #ffc800;
}

.my-contact {
  background-color: #dc9c2a;
  color: aliceblue;
}

.right-icons a i:hover {
  color: #ffc800;
}

.right-icons button:hover {
  background-color: #ffc800;
  color: white;
}

/* Hover and Click Dropdown */
.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown:focus-within .dropdown-menu {
  display: block;
}

.my-icon {
  border: 1px solid white;
  outline: none;
  color: black;
}

.my-menu {
  outline: none;
  border: none;
  background-color: white;
  font-size: large;
}

/* Login-user form */
.user-form {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 400px;
  background: #dc9c2a;
  border: 1px solid #dc9c2a;
  color: white;
  padding: 15px;
  z-index: 1000;
}

@media (max-width: 991.98px) {
  .user-form {
    width: 100%;
    max-width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: auto;
  }
}

.login-btn {
  color: white;
  background-color: #000000;
}

.login-btn:hover {
  color: white;
  background-color: #000000;
}

.navbar {
  position: relative;
}

/* MAIN CONTENT HERE START */
.my-carsousel-item {
  position: relative;
}

.my-carsousel-item .container {
  position: relative;
  z-index: 1;
}

.my-carsousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.my-carsousel-item .right-side-title {
  z-index: 2;
}

.my-carsousel-item .right-side-title p {
  color: #dc9c2a;
}
.my-carsousel-item h1,
.my-carsousel-item h2,
.my-carsousel-item p,
.my-carsousel-item a {
  z-index: 2;
}

.my-carsousel-item .display-4 {
  font-size: 2.5rem;
  font-weight: 700;
}

.my-carsousel-item h2 {
  font-size: 2rem;
  font-weight: 600;
}

.my-carsousel-item .lead {
  font-size: 1.25rem;
  font-weight: 400;
}

.my-carsousel-item .btn {
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-carsousel-item .btn:hover {
  background-color: #ff3333;
  transform: scale(1.05);
}

.bg-dark.opacity-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.bg-light {
  background-color: #f8f9fa !important;
}

.form-group label {
  font-size: 0.875rem;
  font-weight: 500;
}

.form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-danger {
  background-color: #dc9c2a;
  border-color: #dc9c2a;
}

.btn-danger:hover {
  background-color: #c82333;
  /* border-color: #bd2130; */
}
@media (max-width: 345px) {
  .right-side-title h1 {
    font-size: 17px !important;
  }
  .right-side-title h2 {
    font-size: 20px !important;
  }
  .right-side-title p {
    font-size: 15px !important;
  }
}

/* MAIN CONTENT HERE END */

/* <!-- Rent Flow start --> */
.step {
  text-align: center;
  padding: 20px;
}
.step:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 0.3s ease; /* Adjust the timing (0.3s) and easing function (ease) as needed */
  border-radius: 15px;
}

.step svg {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #dc9c2a;
  border-radius: 10px;
  padding: 10px;
  color: rgb(48, 47, 47);
}
.step h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
.step p {
  font-size: 14px;
  color: #2f2f2fc7;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 30px;
  font-weight: 700;
}
.section-title p {
  font-size: 14px;
  color: #dc9c2a;
}

/* <!-- Rent Flow end --> */

/* Compare strat here  */
.my-nav-tabs .nav-link {
  background-color: #dc9c2a !important;
  margin: 5px;
  color: white;
}
@media (max-width: 450px) {
  .my-nav-tabs .nav-link {
    background-color: #dc9c2a !important;
    margin: 3px;
    color: white;
  }
}
.latest-scoop {
  .latest-scoop {
    margin-top: 20px;
  }

  .latest-scoop .text {
    color: #dc9c2a;
  }

  .latest-scoop .viewmore {
    background-color: #dc9c2a !important;
    color: white;
    border: none;
    outline: none;
  }

  .compare {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  /* Media query for devices larger than the large breakpoint */
  @media (min-width: 992px) {
    .compare {
      right: 3px; /* Adjusted positioning for larger devices */
    }
  }

  .fixed-height {
    height: 400px; /* Fixed height */
  }

  .h-100 {
    height: 100%;
  }

  /* Media query for devices smaller than large */
  @media (max-width: 991.98px) {
    .custom-col {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .custom-col + .custom-col {
      margin-top: 20px;
    }
  }
}
/* Compare end here */

/* Counter start here  */
.counter {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.count {
  font-size: 3rem;
  color: #17a2b8;
}

p {
  font-size: 1.2rem;
  color: #6c757d;
}
/* Counter end here  */

/* Explore our top deal start */
/* Top Deals Section */
.top-deals .title {
  font-size: small;
  color: #dc9c2a;
}

.top-deals .deal-item {
  width: 30%;
  padding: 5px;
  border: 1px solid #010101;
  border-radius: 8px;
  transition: all 0.3s;
  display: inline-block; /* Ensure inline behavior */
}

.top-deals .deal-item:hover {
  background-color: #f8f9fa;
  border-color: #dc9c2a;
}

.top-deals .deal-item img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  max-width: 100%; /* Ensure the image does not exceed the container's width */
  height: auto; /* Maintain aspect ratio */
}

.top-deals .deal-item.active {
  background-color: #edca8dd2;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-deals .deal-item.active .deal-name {
  color: #fff;
}

.dots i {
  font-size: 12px !important;
  cursor: pointer;
}

.dots i.active {
  color: #dc9c2a;
}

.dots i.active::before {
  content: "\f111";
}

.hidden {
  display: none;
}

.nav-tabs .nav-item .nav-link {
  background-color: #dc9c2a;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s;
  margin: 15px;
}

.nav-tabs .nav-item .nav-link:hover {
  background-color: #edca8d;
  color: #fff;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #edca8d;
  color: #fff;
}

@media (max-width: 992px) {
  .top-deals .deal-item {
    width: 45%; /* Adjust width for medium screens */
  }
}

/* Explore our top deal end */
/* explore subscription start here */
.my-subscription-plan {
  background-color: #edca8d;
  padding: 50px;
}
.text-section h2 {
  font-style: italic;
}
.plan {
  height: auto;
  width: auto;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.recommended::after {
  content: "Recommended";
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
}
.best-value::after {
  content: "Best Value";
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
}
/* explore subscription end here */

/* my filter section start here */
.my-filter-container .my-drop {
  background-color: white;
  color: black;
}
.my-filter-container .my-drop .dropdown-item {
  background-color: white;
  color: #000000;
  border-radius: 0px;
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: auto;
}
.img-container .fa-heart {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
.fade-in-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in-content.show {
  opacity: 1;
}
/* my filter section end here */

/* Brands start here  */
.brand-imgs {
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
/* Brands s here  */

/* Nice Thing Start Here  */
.custom-containers {
  max-width: 900px;
  margin: auto;
  /* border: 2px solid #007bff; */
}

.carousel-inner p {
  font-size: 1.1rem;
  color: #333;
}
.custom-containers .title {
  color: #dc9c2a;
}

.custom-carousel-inner {
  background-color: #f8f9fa;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-item {
  display: none;
  align-items: center;
  justify-content: center;
}

.carousel-item.active {
  display: flex;
}

.carousel-indicators button {
  cursor: pointer;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
}

.carousel-indicators button {
  /* background-color: #; */
  border: 1px solid #dc9c2a;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.carousel-indicators button.active {
  background-color: #dc9c2a;
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media (max-width: 768px) {
  .custom-containers {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .carousel-title {
    width: 75%;
  }
}
/* Nice Thing End Here  */

/* Newsletter here start */
.container-newsletter {
  background-color: #f9eedbda;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container-newsletter h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.container-newsletter p {
  color: #555;
  margin-bottom: 30px;
}

.container-newsletter .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-newsletter .form-control {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-newsletter .btn {
  background-color: #dc9c2a;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-newsletter .btn:hover {
  border: 1px solid #dc9c2a;
}
/* Newsletter here end */

/* --------------------------------------------------- */
/* Login_sytem Style start here  */
.login-left-side {
  background-image: url("../images/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Login_sytem Style End here  */

/* ------------------------------------------------------ */
/* Contact us page start here */
/* Contact Section Start HEre */
.my-form-container .form-contact-info i {
  font-size: 2rem;
  color: #dc9c2a;
}

.my-form-container .contact-side {
  background-color: #fefcfc;
}

.my-form-container .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.my-form-container .btn-custom {
  background-color: #dc9c2a;
  color: white;
}

/* Contact end here */
/* Contact us page end here */

/* FAQ's Start section css */
.search-container {
  position: relative;
  max-width: 300px;
  margin: 20px auto;
}
.search-input {
  width: 100%;
  padding-right: 2.5rem; /* Make space for the icon */
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* accordion */
.accordion-header {
  background-color: transparent !important;
  color: black;
  border: none;
  outline: none;
}

.accordion-button {
  background-color: transparent !important;
  color: black !important;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between; /* Aligns text to the left and icon to the right */
  align-items: center;
  padding-left: 20px; /* Adjust padding for better alignment */
}

.accordion-icon {
  background-color: #d1b87b;
  /* width: 20px; */
  height: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  transition: transform 0.2s; /* Smooth transition for rotation */
}

/* support start here */
.support-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: ghostwhite;
}
.support-images {
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 20px; /* Space between images and text */
}
.support-images img {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid lightgrey;
}
.support-images .img1 {
  top: 20px;
  left: 25px;
  border-radius: 50%;
}
.support-images .img2 {
  top: 20px;
  right: 25px;
  border-radius: 50%;
}
.support-images .img3 {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the front image is above the others */
  border-radius: 50%; /* Mak*/
}
/* support end here */
/* FAQ's end section css */
